.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.buttonBox{
    margin-top: 12%;
    width: 90vw;
    margin-left: 9vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.personalh1{
    margin-top: -15%;
}

.personalh1 h1{
    font-size: 1.8em;
    color: lightslategray
}

.buttonRF{
    background-color:  #4044FD; 
    width: 90%;
    color: white;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 8px;
    margin-top: 5%;
}

.buttonPI{
    background-color: #E4615E; 
    width: 90%;
    color: white;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 8px;
    margin-top: 5%;

}