.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.buttonBox{
    margin-top: 20%;
}

.container h1{
    font-size: 1.8em;
    color: lightslategray;
    margin-top: 15%;
}

.buttonRF{
    background-color: rgb(64,68,253); 
    width: 100%;
    color: white;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 8px;
    margin-top: 5%;
}

.buttonPI{
    background-color: rgb(255,17,0, 0.8); 
    width: 100%;
    color: white;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    border-radius: 8px;
    margin-top: 5%;

}