.Signup{
    width:90%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;

}


.question{
    margin-top: 2%;
    max-width: 120%;
    display: flex;
    display: inline;
    align-content: flex-end;
}

.question p {
    font-size: 0.8em;
}