.editFeeling{
    width:90%;
    display: flex;
    flex-direction: column;
}

.titleEdit{
    display:flex;
    flex-direction: column;
}

.titleEdit input{
    width: 80vw;
    height: 5vh;
}

.descrEdit{
    display:flex;
    flex-direction: column;
}

.descrEdit input{
    width: 80vw;
    height: 20vh;
    margin-top:2%;
}