.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}

.mainnavbar{
  position: fixed;
  width: 100%;
  height: 8%;
  top: 0;
  background-color: rgb(232, 232, 232, 0.4);
  display: flex;
}

.confidLogo img{
  width: 15vw;
 
}

.rightContent{
  display:flex;
  flex-direction: column;
  

}

.selectLang{
  margin-top:2%;
  margin-left: 10%;
}

.selectLang select{
  border-style: none;
  background-color: white;
}

.icons{
  display:flex;
  margin-left:60vw;
  margin-top: 3%;

}