.newscontainer{
    margin-top: -25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsTitle1{
    font-size: 2.1em;
    color: lightslategray;
}

.row{
    margin-top: -5%;
}
.newsImage{
    display:flex;
    justify-content: center;
}

img{
    align-self: center;
    width:100%;
}

.newsTitle{
    margin-top: 2%;
}

h3{
    font-size: 1.3em;
    padding: 1.5%;
}

p{
    padding: 1.5%;
}

.sub{
    margin-top: -5%;
    padding: 1.5%;
}

.faceButton{
    background: #3b5998;
	color: white;
	padding: 2px 18px 3px 18px;
	border-top: 1px white solid;
	border-left: 1px white solid;
	border-right: 1px #000033 solid;
	border-bottom: 1px #000033 solid;

}